<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, the public repository service from Saint Louis University's Research Computing Group.</p>
    <ul>
      <li><a href="/v1">Register an application for version 1.1</a></li>
      <li><a href="http://rerum.io">Learn more about the Rerum philosophy, origin, and API</a></li>
      </ul>
  </body>
</html>
